<div class="comments">
  {{!-- For each posted comment --}}
  {{#each this}}
    <section class="card">
      <!-- Comment Container -->
      <div class="card-content">
        <span class="card-title">{{!-- Show who commented and when --}}
          <strong>- {{user.username}}</strong>, {{format_date created_at}}
        </span>
        <!-- Comment Text -->
        <p class="comment-text">
          {{comment_text}}
        </p>
      </div>
    </section>
  {{/each}}
</div>
