<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Dev-Blog<title>
    {{! link to stylesheet }}
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div>
      <header>
        <nav>
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
          {{! if logged in, logout button, if logged out, show login button }}
          {{#if loggedIn}}
            <a id="logout" class="btn-nav">Logout</a>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </nav>
      </header>
      {{! other views here }}
      <main>
        {{{body}}}
      </main>
    </div>

    {{! if logged in, logout functionality for button needed }}
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>