<!-- Header Section -->
    <header class="gradient-header">
    <h1 class="center-align teal-text text-darken-2">
      Your Dashboard
    </h1>
    </header>

    <!-- New Post Button -->
    <div class="container center-align">
      <a id="new-post" class="waves-effect waves-light btn-large">+ New Post</a>
    </div>

    <!-- Posts Section -->
    {{#if posts.length}}
      <section class="container">
        <ul class="collection">
          {{#each posts as |post|}}
            <li class="collection-item">
              <div class="row">
                <div class="col s12">
                  <a href="/dashboard/edit/{{post.id}}" class="collection-item teal-text text-darken-3" style="font-size: 2rem; font-weight: bold;">
                    {{post.title}}
                    <span class="right">{{format_date post.created_at}}</span>
                  </a>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom JS -->
    <script src="/js/new-post.js"></script>
  </body>
</html>