<!-- Header Section -->
    <header class="container">
      <h1 class="center-align teal-text text-darken-2">
        Dev-Blog
      </h1>
    </header>

    <!-- Login Form -->
    <div class="container">
      <form class="login-form">
        <div class="card-panel z-depth-3">
          <h2 class="center-align teal-text text-darken-2">Login</h2>
          <div class="input-field">
            <input type="text" id="username-login" class="validate" />
            <label for="username-login">Username</label>
          </div>
          <div class="input-field">
            <input type="password" id="password-login" class="validate" />
            <label for="password-login">Password</label>
          </div>
          <button type="submit" class="btn waves-effect waves-light teal darken-2">Login</button>
          <div class="center-align">
            <a id="return-link" href="/signup" class="btn-flat teal-text text-darken-2">Sign up instead</a>
          </div>
        </div>
      </form>
    </div>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom JS -->
    <script src="/js/login.js"></script>