<header>
  <h1>
    Blog-This-Tech
  </h1>
</header>
<form class="login-form">
  <div class="multi-form">
    <div>
      <h2 class="subtitle">Login</h2>
    </div>
    <div class="form-style">
      <div>
        <label for="username-login">Username</label>
        <input type="text" class="input-style" id="username-login" />
      </div>
      <div>
        <label for="password-login">Password</label>
        <input type="password" class="input-style" id="password-login" />
      </div>
      <div>
        <button type="submit">Login!</button>
      </div>
      <div>
        <a id="return-link" href="/signup">Sign up instead</a>
      </div>
    </div>
  </div>
</form>

<script src="/js/login.js"></script>