<!-- Sign Up Form -->
<section class="container">
  <form class="signup-form card-panel z-depth-3">
    <div class="center-align">
      <h2 class="teal-text text-darken-2">Sign Up</h2>
    </div>
    <div class="input-field">
      <input type="text" id="username-signup" name="username" required />
      <label for="username-signup">Username</label>
    </div>
    <div class="input-field">
      <input type="email" id="email-signup" name="email" required />
      <label for="email-signup">Email</label>
    </div>
    <div class="input-field">
      <input type="password" id="password-signup" name="password" required />
      <label for="password-signup">Password</label>
    </div>
    <button type="submit" class="btn waves-effect waves-light teal darken-2">Sign Up!</button>
    <div class="center-align">
      <a href="/login" class="btn-flat teal-text text-darken-2">Login instead</a>
    </div>
  </form>
</section>

<!-- Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Custom JS -->
<script src="/js/signup.js"></script>
